* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
    text-decoration: none;
    list-style: none;
}
@font-face {
    font-family: Mulish-400;
    font-display: swap;
    src: url("./assets/fonts/Mulish-400.ttf");
}
@font-face {
    font-family: Mulish-800;
    font-display: swap;
    src: url("./assets/fonts/Mulish-800.ttf");
}
body {
    background: #131314;
}
.container {
    width: 95%;
    margin: auto;
}

@media (min-width: 1024px) {
    .container {
        width: 1000px;
    }
}

@media (min-width: 1280px) {
    .container {
        width: 1200px;
    }
}

@media (min-width: 1280px) {
    .container {
        width: 1200px;
    }
}

@media (min-width: 1440px) {
    .container {
        width: 1400px;
    }
}

@media (min-width: 1680px) {
    .container {
        width: 1600px;
    }
}